<ul>
  <li><%= link_to "List of All Products", products_path %></li>
  <li><%= link_to "List of All Staff", staffs_path %></li>
    <li><%= link_to "List of All User", users_path %></li>
  <li><%= link_to "Add Product", new_product_path %></li>
  <% if current_staff.super_admin? %>
    <li><%= link_to "Add Staff", create_path %></li>
  <% end %>
</ul>