
<div class="cart-items-container">
<h1>Order Detail</h1>
  <div>
    Order number: <%= @item.id %>
  <div>
  <div>
    Oder Created <%= @item.created_at %>
  </div>
  <div class="order-item-container">
    <%= image_tag @item.ordered_product.image.attached? ? @item.ordered_product.image : 'default-imag.jpg', class: "cart-item-img"  %>
    <div class="cart-item-info">
      <p class="cart-item-title">Product name: <%= @item.ordered_product.title %></p>
      <p class="cart-item-title">Price: <%= @item.ordered_product.price %> $</p>
      <p class="cart-item-title">Status: <%= @item.status %> </p>
      <p class="cart-item-title">Payment status: <%= @item.payment_status? ? "Pending" : "Complete" %></p>
    </div>
</div>
<div>