
<div class="cart-items-container">
  <p class="cart-item-quantity"><%= "You have #{current_cart.cart_items.size} items in your cart "%></p>
  <% @cart_items.each do |item|  %>
    <div class="cart-item-container">
      <%= image_tag item.product.image.attached? ? item.product.image : 'default-imag.jpg', class: "cart-item-img"  %>
      <div class="cart-item-info">
        <p class="cart-item-title"><%= item.product.title %></p>
        <div class="cart-form-container">
          <%= form_with model: @order_item, remote: true, data: { controller:  "confirmation", action: "submit->confirmation#confirm" }, class: "cart-form-button-container"   do |f|%>
            <%= f.hidden_field :product_id, :value => item.product.id %>
            <%= f.hidden_field :cart_id, :value => item.id %>
            <%= f.submit "Buy", class: "cart-item-button"%>
          <% end %>
        </div>
      </div>
    </div>
    <p class="cart-item-price"><%= item.product.price %>$</p>
    <%= link_to "✕", delete_path_url(item), method: :delete, remote: true, class: "cart-item-delete-button"%>
  <%= item.id%>
  <% end %>
</div>