<div>
  <h1><%= @good.title %><h1>

</div>
  <p><%= @good.description %><p>
<% if @good.image.attached? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @good.image %>
  </p>
<% end %>

<div>

  <%= link_to "back", goods_path %>
  <% if staff_signed_in? %>
    <%= link_to "Edit", edit_good_path(@good) %>
    <%= link_to "delete", delete_good_path_url(@good) %>
  <% else %>
    <%= link_to "add to card", root_path %>
  <% end %>
</div>