<h1>Update product</h1>
<%= form_with(model: @product) do |g| %>

  <%= g.hidden_field :id, :value => @product.id * 2 + 1 %>

  <div class="mb-3">
    <%= g.label :title %>
    <%= g.text_field :title, placeholder: "Title"  %>
  </div>

  <div class="mb-3">
    <%= g.label :description %>
    <%= g.text_area :description, placeholder: "Description"  %>
  </div>


  <div class="mb-3">
    <%= g.label :price %>
    <%= g.text_field :price, placeholder: "Price"  %>
  </div>

   <div class="mb-3">
    <%= g.label :image %>
    <%= g.file_field :image %>
  </div>

  <%= g.submit "Save changes", class: "btn btn-primary", class: "btn btn-primary" %>

<% end %>