<%= will_paginate @products, class: "pagination"%>
<div class="container-product">
  <% @products.each do |g|  %>
    <div class="item-product">
        <a href=<%= "/products/#{g.id}"%> class="product-img-container">
          <%= image_tag (g.image.attached?  ? g.image : 'default-imag.jpg'), class: "product-img" %> 
        </a>
        <p class="product-title"><%= g.title %></p>
        <p class="product-price"><%= g.price %> $</p>
    </div>
  <% end %>
</div>