<%= will_paginate @products %>
<div class="conteiner-product">
  <% @products.each do |g|  %>
  <div class="item-product">
      <%= link_to g.title, g %>
      <% if g.image.attached? %>
        <%= link_to (image_tag g.image), g %> 
      <% else %>
        <%= link_to (image_tag 'default-imag.jpg'), g %>
      <% end %>
      <p><%= g.price %> $</p>
    </div>
  <% end %>
</div>