
<div class="product-info-container">
  <%= image_tag (@product.image.attached? ? @product.image : 'default-imag.jpg'),  class: "product-info-img" %>
  <div class="product-info">
    <div class="product-info-title">
      <%= @product.title %>
    </div>
    <div class="product-info-description">
      <%= @product.description %>
    </div>
    
    <div class="product-info-button-container">
      <% if staff_signed_in? %>
        <%= link_to "Edit", edit_product_path(@product), class: "product-info-admin-button" %>
        <%= link_to "Delete", delete_product_path_url(@product), class: "product-info-admin-button" %>
      <% else %>

        <%= form_with model: @cart_item, remote: true, class: "product-info-form-button" do |f|%>
          <%= f.hidden_field :product_id, :value => @product.id %>
          <%= f.submit "Add to Card ",  class: "product-info-button" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>